{% extends 'base.html' %}
{% block main %}
    <!-- features -->
    <div id="about" class="about_page">
        <div class="container">
            <!-- header -->
            <!--<h2 class="section_header">
                <hr class="left visible-desktop">
                <span>About Us</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
                <div class="span12">
                    <h3 class="intro">
                        Whether you need to create a brand from scratch, including marketing materials
                        and a beautiful and functional website or whether you are looking for a design
                        refresh pleased with the results.
                    </h3>
                </div>
            </div> -->

            <!-- description -->
            <!-- <div class="row">
                <div class="span6">
                    <p>
                        here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which <br>
                        don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, <br>
                        you need to be sure there isn't anything embarrassing hidden in the middle of text. <br>
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
                        here are many variations of passages of Lorem Ipsum available, but the <br> majority have suffered alteration in some form, by injected humour, or randomised <br> words which 
                        don't look even slightly believable. If you are going to use a passage of <br> Lorem Ipsum.
                    </p>
                </div>
                <div class="span6">
                    <p>
                        here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which <br>
                        don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, <br>
                        you need to be sure there isn't anything embarrassing hidden in the middle of text. <br>
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
                        here are many variations of passages of Lorem Ipsum available, but the <br> majority have suffered alteration in some form, by injected humour, or randomised <br> words which 
                        don't look even slightly believable. If you are going to use a passage of <br> Lorem Ipsum.
                    </p>
                </div>
            </div> -->

            <!-- header -->
            <h2 class="section_header team">
                <hr class="left visible-desktop">
                <span>Our
				Team</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
          <div class="span6 teammate" style="text-align: center;"> <img src="{{ STATIC_URL }}img/murphy.png"

              class="">
            <h5>Christopher Murphy</h5>
            <p>Co-founder</p>
            <hr>
            <!--<p class="description"> We are a fairly small, flexible design
              studio that designs for the web. We work with clients to fulfill
              their needs. </p> -->
            <div class="social"> <a href="https://twitter.com/cwmatx"> <i class="social tw"></i> </a>
              <a href="https://www.facebook.com/ChrisMurphy1969"> <i class="social fb"></i> </a> <a href="https://plus.google.com/102397758190994761454/about/p/pub"> <i class="social gp"></i>
              </a> 
              <!-- <a href="#"> <i class="social pin"></i> </a> --></div>
          </div>
          <div class="span6 teammate" style="text-align: center;"> <img src="{{ STATIC_URL }}img/clark.png"

              class="">
            <h5>Bradley B. Clark</h5>
            <p>Co-founder</p>
            <hr>
            <!--<p class="description"> We are a fairly small, flexible design
              studio that designs for the web. We work with clients to fulfill
              their needs. </p> -->
            <div class="social"> <a href="https://twitter.com/bradleybclark"> <i class="social tw"></i> </a>
              <a href="https://www.facebook.com/pages/Bradley-B-Clark-Attorney/200171706662450"> <i class="social fb"></i> </a> <a href="https://plus.google.com/112091635813397441057/about"> <i class="social gp"></i>
              </a> </div>
          </div>
                <!--<div class="span3 teammate">
                    <img src="{{ STATIC_URL }}img/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web.
                        We work with clients to fulfill their
                        needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                    </div>
                </div> -->
                <!-- <div class="span3 teammate">
                    <img src="{{ STATIC_URL }}img/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web.
                        We work with clients to fulfill their
                        needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}
