{% extends 'base.html' %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/external-pages.css">
{% endblock %}
{% block main %}
    <!-- faq -->
    <div id="faq" class="faq_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Guide/FAQ</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- list -->
            <div class="row">
                <div class="span12">
                    <div class="faq">
              <div class="number">1</div>
              <div class="question"> What are annotations? </div>
              <div class="answer"> For Lawful.ly, annotations are ideally short,
                plain language explanations of the key issues. This may be a
                term, a sentence, etc. We think that good annotations avoid the
                TL;DR phenomena, but linking to more detailed explanations on
                other sites is a great idea to allow users to find more in-depth
                explanations if they so desire.<br>
                <br>
                The key for Lawful.ly is to provide the initial quick
                explanations so that the user can then determine for themselves
                which issues they either need to research more themselves or
                which they want to potentially take to an attorney.</div>
            </div>
            <div class="faq">
              <div class="number">2</div>
              <div class="question"> Can I copy other information from the web?
              </div>
              <div class="answer"> You should not use any copyrighted
                information without the explicit permission of the author. Even
                if you do have such permission, you should link back to the
                source of the annoation, especially if there is more detailed
                information available on that site.<br>
                <br>
                Play nice. When in doubt, cite back to the source. More info on
                this is covered in our Terms of Use.</div>
            </div>
            <div class="faq">
              <div class="number">3</div>
              <div class="question"> What can you do if I find my copyrighted
                information on Lawful.ly? </div>
              <div class="answer"> Ideally, we would like to get your permission
                to keep the information on our site with a link back to your
                site. We want you to get the credit for your work, but we
                believe that Lawful.ly can generate traffic for you which
                increases your exposure. If you have us remove your data and the
                link back to your site, you lose that source of traffic.<br>
                <br>
                We will absolutely honor requests to delete unapproved
                annotations which use the copyrighted work of others. Please
                just email us at admin@lawful.ly</div>
            </div>
            <div class="faq">
              <div class="number">4</div>
              <div class="question"> Is anyone allowed to add an annotation? </div>
              <div class="answer"> Yes! We believe that the law belongs to
                everyone and you don't have to be an attorney to know the key
                issues of a particular issue. If you have lived through it then
                you may be able to explain it in a way that resonates more with
                other users. We certainly hope and expect that attorneys will be
                a key part of our community, and will be especially useful when
                it comes to evaluating answers, but we absolute want all members
                of the community to contribute.<br>
              </div>
            </div>
            <div class="faq">
              <div class="number">5</div>
              <div class="question"> Are you trying to get rid of lawyers? </div>
              <div class="answer"> Not at all. Rather, we want lawyers to be
                able to focus on delivering to their clients true value-added
                work. If a client can provide their attorney with a quality
                agreement that they generally understand, then the attorney can
                focus on the specific issues of the client. They don't have to
                spend their time (and the clients money) educating the client if
                the client comes in with a solid understanding of most of the
                key issues of a particular transaction or situation.<br>
                <br>
                In the end, we want to see attorneys spend as much of their time
                being true counsel to their clients vs. scriveners or teachers.</div>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
