{% extends 'base.html' %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css">
{% endblock %}
{% block main %}
    <!-- ends navbar -->
    <!-- terms -->
    <div id="blog_wrapper" class="blog_post">
      <div class="container">
        <div class="row">
          <div class="span8">
            <h1 class="header"> Terms of Use </h1>
            <div class="post_content">
              <p class="post_content"></p>
              <span>Effective: March 4, 2013</span>
              <p></p>
              Last updated: March 6, 2013<br>
              <br>
              These Terms of Service ("<strong>Terms</strong>") govern your
              access to and use of the services, websites, and applications
              offered by Lawful.ly (the "<strong>Service</strong>"). Your access
              to and use of the Service is conditioned on your acceptance of and
              compliance with these Terms. By accessing or using the Service you
              agree to be bound by these Terms.<br>
              <br>
              <strong>Use of the Service</strong><br>
              You may use the Service only if you can form a binding contract
              with Lawful.ly, and only in compliance with these Terms and all
              applicable local, state, national, and international laws, rules
              and regulations. You must provide us accurate information,
              including your real name, when you create your account on
              Lawful.ly.<br>
              <br>
              We may, without prior notice, change the Service; stop providing
              the Service or features of the Service, to you or to users
              generally; or create usage limits for the Service.<br>
              <br>
              You are responsible for safeguarding the password that you use to
              access the Service and for any activities or actions under your
              password. We encourage you to use "strong" passwords (that use a
              combination of upper and lower case letters, numbers and symbols)
              with your account. Lawful.ly will not be liable for any loss or
              damage arising from your failure to comply with this instruction.<br>
              <br>
              <strong>User Content</strong><br>
              "<strong>Content</strong>" means any information, text, graphics,
              or other materials uploaded, downloaded or appearing on the
              Service. <em>You retain ownership of all Content you submit,
                post, display, or otherwise make available on the Service.</em><br>
               <br>
              <strong>Your</strong><strong> </strong><strong>License to
                Lawful.ly</strong><br>
              By submitting, posting or displaying Content on or through the
              Service, you grant us a worldwide, non-exclusive, royalty-free
              license (with the right to sublicense) to use, copy, reproduce,
              process, adapt, modify, publish, transmit, display and distribute
              such Content in any and all media or distribution methods (now
              known or later developed).<br>
              <br>
              You agree that this license includes the right for other users of
              the Service to modify your Content, and for Lawful.ly to make your
              Content available to others for the publication, distribution,
              syndication, or broadcast of such Content on other media and
              services, subject to our terms and conditions for such Content
              use. Such additional uses by Lawful.ly or others may be made with
              no compensation paid to you with respect to the Content that
              you submit, post, transmit or otherwise make available
              through the Service.<br>
              <br>
              We may modify or adapt your Content in order to transmit, display
              or distribute it over computer networks and in various media
              and/or make changes to your Content as are necessary to conform
              and adapt that Content to any requirements or limitations of any
              networks, devices, services or media.<br>
              <br>
              Additionally, by uploading content to the site, you warrant,
              represent and agree that you have the right to grant Lawful.ly the
              license described above. You also represent, warrant and agree
              that you have not and will not contribute any Content that (a)
              infringes, violates or otherwise interferes with any copyright or
              trademark of another party, (b) reveals any trade secret, unless
              the trade secret belongs to you or you have the owner's permission
              to disclose it, (c) infringes any intellectual property right of
              another or the privacy or publicity rights of another, (d) is
              libelous, defamatory, abusive, threatening, harassing, hateful,
              offensive or otherwise violates any law or right of any third
              party, (e) creates an impression that you know is incorrect,
              misleading, or deceptive, including by impersonating others or
              otherwise misrepresenting your affiliation with a person or
              entity; (f) contains other people's private or personally
              identifiable information without their express authorization and
              permission, and/or (g) contains or links to a
              virus, trojan horse, worm, time bomb or other computer
              programming routine or engine that is intended to damage,
              detrimentally interfere with, surreptitiously intercept or
              expropriate any system, data or information. Lawful.ly reserves
              the right in its discretion to remove any Content from the Site,
              suspend or terminate your account at any time, or pursue any other
              remedy or relief available under equity or law.<br>
              <br>
              <strong>Lawful.ly's</strong><strong> </strong><strong>Licenses
                to You</strong><br>
              Subject to these Terms, Lawful.ly gives you a worldwide,
              royalty-free, non-assignable and non-exclusive license to re-post
              any of the Content on Lawful.ly anywhere on the rest of the web
              provided that the user who created the content has not explicitly
              marked the content as not for reproduction, and provided that you:
              (a) do not modify the Content; (b) attribute Lawful.ly by name in
              readable text and with a human and machine-followable link
              (an HTML &lt;a&gt; anchor tag) linking back to the page displaying
              the original source of the content on Lawful.ly on every page that
              contains Lawful.ly content; (c) upon request, either by Lawful.ly
              or a user, remove the user's name from Content which the user has
              subsequently made anonymous; (d) upon request, either by Lawful.ly
              or by a user who contributed to the Content, make a reasonable
              effort to update a particular piece of Content to the latest
              version on Lawful.ly; and (e) upon request, either by Lawful.ly or
              by a user who contributed to the Content, make a reasonable
              attempt to delete Content that has been deleted or marked as not
              for reproduction on Lawful.ly.<br>
              <br>
              You may only use the attribution required by this Section in the
              manner set out above. In exercising these rights, you may not
              implicitly or explicitly assert or imply any connection with,
              sponsorship or endorsement by Lawful.ly, or any Lawful.ly user of
              you or your use of the work, without the separate, express prior
              written permission of Lawful.ly or the Lawful.ly user.<br>
              <br>
              If you operate a search engine or robot, or you republish a
              significant fraction of all Lawful.ly Content (as we may determine
              in our reasonable discretion), you must additionally follow these
              rules:<br>
              <br>
              ·         You must
              use a descriptive user agent header.<br>
              ·         You must
              follow robots.txt at all times.<br>
              ·         You must
              make it clear how to contact you, either in your user agent
              string, or on your website if you have one.<br>
              <br>
              Subject to these Terms, Lawful.ly gives you a personal, worldwide,
              royalty-free, revocable, non-assignable and non-exclusive license
              to use the Service as it is provided to you by Lawful.ly.<br>
              <br>
              Your Content will be viewable by the general public, other users
              of the Service and through third party services and websites. You
              should only provide Content that you are comfortable sharing with
              others under these Terms.<br>
              <br>
              All Content, whether publicly posted or privately transmitted, is
              the sole responsibility of the person who originated such Content.
              We may not monitor or control the Content posted via the Service.
              Any use of or reliance on any Content or materials posted via the
              Service or obtained by you through the Service is at your own
              risk. We do not endorse, support, represent or guarantee the
              completeness, truthfulness, accuracy, or reliability of any
              Content or communications posted via the Service
              or endorse any opinions expressed via the Service. You
              understand that by using the Service, you may be exposed to
              Content that might be offensive, harmful, inaccurate or otherwise
              inappropriate. Under no circumstances will Lawful.ly be liable in
              any way for any Content, including, but not limited to, any errors
              or omissions in any Content, or any loss or damage of any kind
              incurred as a result of the use of any Content made available via
              the Service or broadcast elsewhere.<br>
              <br>
              You are responsible for your use of the Service, for
              any Content you provide, and for any consequences
              thereof, including the use of your Content by other users and
              third party partners. You understand that your Content may be
              republished and if you do not have the right to submit Content for
              such use, it may subject you to liability. Lawful.ly will not be
              responsible or liable for any use of your Content by Lawful.ly in
              accordance with these Terms.<br>
              <br>
              We reserve the right at all times (but will not have an
              obligation) to remove or refuse to distribute any Content on the
              Service and to terminate users or reclaim usernames. We also
              reserve the right to access, read, preserve, and disclose any
              information as we reasonably believe is necessary to (i) satisfy
              any applicable law, regulation, legal process or governmental
              request, (ii) enforce the Terms, including investigation of
              potential violations hereof, (iii) detect, prevent, or otherwise
              address fraud, security or technical issues, (iv) respond to user
              support requests, or (v) protect the rights, property or safety of
              Lawful.ly, its users and the public.<br>
              <br>
              <strong>Rules</strong><br>
              You must not do any of the following while accessing or using the
              Service: (i) use the Service for any unlawful purposes or for
              promotion of illegal activities; (ii) upload or post any Content
              (as defined above) in violation of the provisions contained in the
              "Your License to Lawful.ly" section of these terms; (iii) use the
              Service for the purpose of spamming anyone; (iv) access or tamper
              with non-public areas of the
              Service, Lawful.ly's computer systems, or the technical
              delivery systems of Lawful.ly's providers; (v) probe,
              scan, or test the vulnerability of any system or network or breach
              or circumvent any security or authentication measures; (vi) access
              or search or attempt to access or search the Service by any means
              (automated or otherwise) other than through the currently
              available, published interfaces that are provided by Lawful.ly
              (and only pursuant to those terms and conditions), unless you have
              been specifically allowed to do so in a separate agreement with
              Lawful.ly (crawling the Service is permissible in accordance with
              these Terms, but scraping the Service without the prior consent of
              Lawful.ly except as permitted by these Terms is expressly
              prohibited); (vii) forge any TCP/IP packet header or any part of
              the header information in any email or posting, or in any way use
              the Service to send altered, deceptive or false source-identifying
              information; or (viii) interfere with or disrupt (or attempt to do
              so) the access of any user, host or network, including, without
              limitation, sending a virus, overloading, flooding, spamming,
              mail-bombing the Service, or by scripting the creation of Content
              in such a manner as to interfere with or create an undue burden on
              the Service.<br>
              <br>
              We may make available one or more APIs for interacting with the
              Service. Your use of any Lawful.ly API is subject to these terms
              and the Lawful.ly API Rules, which will be posted before we make
              these APIs available (as part of these Terms).<br>
              <br>
              <strong>Proprietary Rights</strong><br>
              All right, title, and interest in and to the Service (excluding
              Content provided by users) are and will remain the exclusive
              property of Lawful.ly and its licensors. The Service is protected
              by copyright, trademark, and other laws of both the United States
              and foreign countries. Except as expressly provided herein,
              nothing in the Terms gives you a right to use the Lawful.ly name
              or any of the Lawful.ly trademarks, logos, domain names, and other
              distinctive brand features. Any feedback, comments, or suggestions
              you may provide regarding the Service is entirely voluntary and we
              will be free to use such feedback, comments or suggestions as we
              see fit and without any obligation to you.<br>
              <br>
              The Service may include advertisements, which may be targeted to
              the Content or information on the Service, queries made through
              the Service, or other information. The types and extent of
              advertising by Lawful.ly on the Service are subject to change. In
              consideration for Lawful.ly granting you access to and use of the
              Service, you agree that Lawful.ly and its third party providers
              and partners may place such advertising on the Service or in
              connection with the display of Content or information from the
              Service whether submitted by you or others.<br>
              <br>
              <strong>Copyright Policy</strong><br>
              Lawful.ly respects the intellectual property rights of others and
              expects users of the Service to do the same. We will respond to
              notices of alleged copyright infringement that comply with
              applicable law and are properly provided to us. If you believe
              that your Content has been copied in a way that constitutes
              copyright infringement, please provide our copyright agent with
              the following information in accordance with the Digital
              Millennium Copyright Act: (i) a physical or electronic signature
              of the copyright owner or a person authorized to act on their
              behalf; (ii) identification of the copyrighted work claimed to
              have been infringed; (iii) identification of the material that is
              claimed to be infringing or to be the subject of infringing
              activity and that is to be removed or access to which is to be
              disabled, and information reasonably sufficient to permit us to
              locate the material; (iv) your contact information, including your
              address, telephone number, and an email address; (v) a statement
              by you that you have a good faith belief that use of the material
              in the manner complained of is not authorized by the copyright
              owner, its agent, or the law; and (vi) a statement that the
              information in the notification is accurate, and, under penalty of
              perjury, that you are authorized to act on behalf of the copyright
              owner.<br>
              <br>
              Our designated copyright agent for notice of alleged copyright
              infringement or other legal notices
              regarding Content appearing on the Service is:<br>
              <br>
              Lawful.ly, Inc.<br>
              900 West Avenue<br>
              Austin, TX 78701<br>
              <br>
              Email: <a href="mailto:admin@Lawful.ly" style="color: purple; text-decoration: underline;">admin@Lawful.ly</a><br>
              <br>
              Please note that in addition to being forwarded to the person who
              provided the allegedly illegal content, we may send a copy of your
              notice (with your personal information removed) to Chilling
              Effects (<a href="http://www.chillingeffects.org/" style="color: purple; text-decoration: underline;">www.chillingeffects.org</a>)
              for publication and/or annotation. You can see an example of such
              a publication at<a href="http://www.chillingeffects.org/fairuse/notice.cgi?NoticeID=16887"

                style="color: purple; text-decoration: underline;">http://www.chillingeffects.org/fairuse/notice.cgi?NoticeID=16887</a>.
              A link to your published notice will be displayed on Lawful.ly in
              place of the removed content.<br>
               <br>
              We reserve the right to remove Content alleged to be infringing or
              otherwise illegal without prior notice and at our sole discretion.
              In appropriate circumstances, Lawful.ly will also terminate a
              user's account if the user is determined to be a repeat infringer.<br>
              <br>
              <strong>Privacy</strong><br>
              Lawful.ly values your privacy. Please review our Privacy Policy<a

                href="http://www.quora.com/about/privacy" style="color: purple; text-decoration: underline;"></a> to
              learn more about how we collect and use information about you via
              the Service. By using the Service you consent to the transfer of
              your information to the United States and/or other countries for
              storage, processing and use by Lawful.ly.<br>
               <br>
              <strong>Links</strong><br>
              The Service may contain links to third-party websites or
              resources. You acknowledge and agree that we are not responsible
              or liable for: (i) the availability or accuracy of such websites
              or resources; or (ii) the content, products, or services on or
              available from such websites or resources. Links to such websites
              or resources do not imply any endorsement by Lawful.ly of such
              websites or resources or the content, products, or services
              available from such websites or resources. You acknowledge sole
              responsibility for and assume all risk arising from your use of
              any such websites or resources.<br>
              <br>
              <strong>Third Party Beneficiaries</strong><br>
              All Lawful.ly users who provide answers to legal questions are
              intended third-party beneficiaries ("Legal Contributors") of this
              section of the Terms of Use. The answers on this site are provided
              by Legal Contributors for informational purposes only. Lawful.ly
              and Legal Contributors TO THE FULLEST EXTENT PERMITTED BY LAW,
              DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED,
              STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED
              WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES'
              RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE.<br>
              <br>
              In no event shall Lawful.ly or Legal Contributors be liable for
              any damages (including, without limitation, incidental and
              consequential damages, personal injury / wrongful death, lost
              profits, or damages resulting from lost data or business
              interruption) resulting from the use of or inability to use the
              Site or the Content, whether based on warranty, contract, tort, or
              any other legal theory, and whether or not Lawful.ly or its Legal
              Contributors is advised of the possibility of such damages.
              Neither Lawful.ly nor the Legal Contributors are liable for any
              personal injury, including death, caused by your use or misuse of
              the Site or Content.<br>
              <br>
              Lawful.ly has provided certain disclaimer template language that
              Legal Contributors may edit and incorporate in their answers.
              Ethics rules differ by state, so we are not sure that this
              language will work for every attorney in every location --
              especially since rules can change over time. Legal Contributors
              should edit or add to disclaimer language as necessary to comply
              with their own state's rules.<br>
              <br>
              As always, we do not monitor or control the Content posted via the
              Service; the answers and messages created by Legal Contributors
              are their sole creation and responsibility. We do not endorse or
              guarantee the completeness, truthfulness, accuracy, or reliability
              of any answers or messages posted by Legal Contributors, nor do we
              endorse any opinions they express.<br>
              <br>
              <strong>Answers to Legal Questions</strong><br>
              Content posted by Legal Contributors in response to legal
              questions is not intended to be legal advice or form an
              attorney-client relationship. If you believe you have a legal
              claim, contact an attorney licensed in your state (or country)
              immediately to discuss your options. Most state bar associations
              have services to aid you in finding an attorney. For example,
              California residents should visit<br>
              <br>
              <a href="http://www.calbar.ca.gov/Public/Pamphlets/HiringaLawyer.aspx">http://www.calbar.ca.gov/Public/Pamphlets/HiringaLawyer.aspx</a><br>
              <br>
              Content is provided for informational purposes only, with no
              assurance that the Content is true, correct, or accurate. No
              action should be taken, delayed, or deferred based on the Content.<br>
              <br>
              1.     Content is not a substitute for
              professional legal advice or a solicitation to offer legal advice
              regarding specific facts. Should you ignore this warning and send
              specific or confidential information in a private message or post
              it as a comment, there is no duty to keep that information
              confidential or to discontinue or forego any representation
              adverse to your interests.<br>
              <br>
              2.     You should not delay or forego
              seeking legal advice or disregard professional legal advice based
              on Content. Delay in seeking such legal advice could result in
              waiver of any claims you may have, depending on the applicable
              statute(s) of limitation.<br>
              <br>
              3.     Content is not regulated by any
              state or national bar association.<br>
              <br>
              4.     Information posted to Lawful.ly
              publicly or sent in an unsolicited message to a Legal Contributor
              is not confidential and does not establish attorney-client
              relationship without the express consent of the Legal Contributor.<br>
              <br>
              <strong>Reuse of Lawful.ly's Policies, Disclaimers,
                &amp; Terms of Use Language Regarding Legal Contributors</strong><br>
              In order to develop Web industry standards for online
              contributions by legal professionals, Lawful.ly encourages other
              companies and organizations to adopt all or part of our policies,
              disclaimers, and terms of use language as part of their own
              products and terms of service. Lawful.ly therefore expressly
              permits other companies to copy and edit the provisions contained
              in this section of its terms of service for their own use.
              Additionally, Lawful.ly welcomes comments and suggestions on these
              terms as part of the ongoing debate regarding how professionals
              can comply with their professional responsibilities while being
              active, informative participants in online discussions.<br>
              <br>
              <strong>Disclaimers; Indemnity</strong><br>
              Your access to and use of the Service or any Content is at your
              own risk. You understand and agree that the Service is provided to
              you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the
              foregoing, LAWFUL.LY AND ITS PARTNERS DISCLAIM ANY WARRANTIES,
              EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
              PURPOSE, OR NON-INFRINGEMENT. We make no warranty and disclaim all
              responsibility and liability for the completeness, accuracy,
              availability, timeliness, security or reliability of the Service
              or any content thereon. Lawful.ly will not be responsible or
              liable for any harm to your computer system, loss of data, or
              other harm that results from your access to or use of the Service,
              or any Content. You also agree that Lawful.ly has no
              responsibility or liability for the deletion of, or the failure to
              store or to transmit, any Content and other communications
              maintained by the Service. We make no warranty that the Service
              will meet your requirements or be available on an uninterrupted,
              secure, or error-free basis. No advice or information, whether
              oral or written, obtained from Lawful.ly or through the Service,
              will create any warranty not expressly made herein.<br>
              <br>
              TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, LAWFUL.LY AND
              ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND
              LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
              SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT
              LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER
              INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR
              INABILITY TO ACCESS OR USE THE SERVICE; (ii) ANY CONDUCT OR
              CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT
              LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER
              USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE
              SERVICE; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR
              TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT,
              TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR
              NOT LAWFUL.LY HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE,
              AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF
              ITS ESSENTIAL PURPOSE.<br>
              <br>
              Some jurisdictions do not allow the exclusion of certain
              warranties or the exclusion or limitation of liability for
              consequential or incidental damages, so the limitations above may
              not apply to you.<br>
              <br>
              If anyone brings a claim against us related to your actions or
              Content on the Service, or actions or Content by or from someone
              using your account, you will indemnify and hold us harmless from
              and against all damages, losses, and expenses of any kind
              (including reasonable legal fees and costs) related to such claim.<br>
              <strong><br>
              </strong><strong>General Terms</strong><br>
              These Terms and any action related thereto will be governed by the
              laws of the State of Texas without regard to or application of its
              conflict of law provisions or your state or country of residence.
              Unless submitted to arbitration as set forth in the following
              paragraph, all claims, legal proceedings or litigation arising in
              connection with the Service will be brought solely in Travis
              County, Texas, and you consent to the jurisdiction of and venue in
              such courts and waive any objection as to inconvenient forum.<br>
              <br>
              For any claim (excluding claims for injunctive or other equitable
              relief) under these Terms where the total amount of the award
              sought is less than $10,000, the party requesting relief may elect
              to resolve the dispute through binding non-appearance-based
              arbitration. The party electing such arbitration shall initiate
              the arbitration through an established alternative dispute
              resolution ("ADR") provider mutually agreed upon by the parties.
              The ADR provider and the parties must comply with the following
              rules: a) the arbitration shall be conducted by telephone, online
              and/or be solely based on written submissions, as selected by the
              party initiating the arbitration; b) the arbitration shall not
              involve any personal appearance by the parties or witnesses unless
              otherwise mutually agreed by the parties; and c) any judgment on
              the award rendered by the arbitrator may be entered in any court
              of competent jurisdiction.<br>
              <br>
              These Terms are the entire and exclusive agreement between
              Lawful.ly and you regarding the Service (excluding any services
              for which you have a separate agreement with Lawful.ly that is
              explicitly in addition or in place of these Terms), and these
              Terms supersede and replace any prior agreements between Lawful.ly
              and you regarding the Service.<br>
              <br>
              The failure of Lawful.ly to enforce any right or provision of
              these Terms will not be deemed a waiver of such right or
              provision. In the event that any provision of these Terms is held
              to be invalid or unenforceable, the remaining provisions of these
              Terms will remain in full force and effect.<br>
              <br>
              We may revise these Terms from time to time. The most current
              version will always be on this page (or such other page as the
              Service may indicate). If the revision, in our sole discretion, is
              material we will notify you via posting to our website or e-mail
              to the email associated with your account. By continuing to access
              or use the Service after those revisions become effective, you
              agree to be bound by the revised Terms.<br>
              <br>
              The Service is operated and provided by Lawful.ly, Inc., 900
              West Avenue, Austin, TX 78701<br>
              <br>
              If you have questions about these Terms, please contact us
              at <a href="mailto:admin@Lawful.ly" style="color: purple; text-decoration: underline;">admin@Lawful.ly</a>.<br>
              <p class="MsoNormal" style="margin: 0in 0in 10pt; font-size: 11pt; font-family: Calibri, sans-serif; line-height: 17px; color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;"> </p>
              <h1 class="header"> Lawful.ly Privacy Policy </h1>
              <p class="post_content"></p>
              <span>Last updated: March 6, 2013.</span><br>
              <br>
              We recognize that your privacy is very important and take it
              seriously. This Privacy Policy describes Lawful.ly's policies and
              procedures on the collection, use and disclosure of your
              information when you use the Lawful.ly Service, via the Lawful.ly
              website, your mobile phone, or through one of Lawful.ly's
              applications for mobile devices. We will not use or share your
              information with anyone except as described in this Privacy
              Policy. This Privacy Policy does not apply to information we
              collect by other means (including offline) or from other sources.
              Capitalized terms that are not defined in this Privacy Policy have
              the meaning given them in our Terms of Service.<br>
              <br>
              <strong>Information Collection and Use</strong><br>
              Lawful.ly uses information we collect to analyze how the Service
              is used, diagnose service or technical problems, maintain
              security, personalize content, remember information to help you
              efficiently access your account, monitor aggregate metrics such as
              total number of visitors, traffic, and demographic patterns, and
              track User Content and users as necessary to comply with the
              Digital Millennium Copyright Act and other applicable laws.<br>
              <br>
              User-Provided Information: You provide us information about
              yourself, such as your name and e-mail address, if you register
              for a member account with the Service. Your name and other
              information you choose to add to your profile will be available
              for public viewing on the Service. We may use your email address
              to send you Service-related notices (including any notices
              required by law, in lieu of communication by postal mail). You can
              control receipt of certain Service-related messages on your
              Settings page. We may also use your contact information to send
              you marketing email messages. If you do not want to receive such
              messages, you may opt out by following the instructions in the
              message. If you correspond with us by email, we may retain the
              content of your email messages, your email address and our
              responses.<br>
              <br>
              If you use your Facebook, Twitter, or other social networking site
              ("<strong>SNS</strong>") account information to sign in to
              Lawful.ly, we will collect and store your SNS user ID.<br>
              <br>
              You also provide us information in User Content you post to the
              Service. Your questions, answers, and other contributions on the
              Service, and metadata about them (such as when you posted them),
              are publicly viewable on the Service, along with your user name
              (the Service does not permit you to post anonymously). This
              information may be searched by search engines and be republished
              elsewhere on the Web in accordance with our Terms of Service.<br>
              <br>
              Information Collected Automatically: When you use the Service, we
              may use persistent and session cookies and other tracking
              technologies to: (a) store your username and password; (b) analyze
              the usage of the Service; (c) customize the Service to your
              preferences; and (d) control the advertising displayed by the
              Service. A persistent cookie remains on your computer after you
              close your browser so that it can be used by your browser on
              subsequent visits to the Service. Persistent cookies can be
              removed by following your web browser's directions. A session
              cookie is temporary and disappears after you close your browser.
              You can reset your web browser to refuse all cookies or to
              indicate when a cookie is being sent. However, some features of
              the Service may not function properly if the ability to accept
              cookies is disabled.<br>
              <br>
              We may also use other Internet technologies, log files, clear
              GIFs, Flash technologies, and other similar technologies, to
              deliver or communicate with cookies and track your use of the
              Service. We also may include clear GIFs in HTML-based emails sent
              to our users to determine whether the message has been opened. As
              we adopt additional technology, we may also gather additional
              information through other methods.<br>
              <br>
              We use these automated technologies to collect and analyze certain
              types of information we consider to be non-personal information,
              including: (a) information related to the devices you use to
              access or interact with the Service, such as: IP addresses,
              geolocation information, unique device identifiers and other
              information about your mobile phone or other mobile device(s),
              browser types, browser language; and (b) information related to
              the ways in which you interact with the Service, such as:
              referring and exit pages and URLs, platform type, the number of
              clicks, domain names, landing pages, pages viewed and the order of
              those pages, the amount of time spent on particular pages, the
              date and time you used the Service, and other similar information.
              We may also capture other data, such as search criteria and
              results.<br>
              <br>
              Lawful.ly discloses a subset of this automatically collected
              information publicly. Specifically, you consent to Lawful.ly's
              disclosure of information related to the ways in which you
              interact with the Service, such as: landing pages, pages viewed
              and the order of those pages (including questions and answers
              viewed), the date and time you used the Service, and other similar
              information on the Service to other Lawful.ly users, along with
              your name and profile picture. If you do not wish to have this
              information disclosed to the public, you may opt out of this
              feature by emailing us at <a href="mailto:admin@lawful.ly">admin@Lawful.ly</a>.<br>
              <br>
              Lawful.ly may allow third parties to serve advertisements on the
              Service and on third-party services and use other third parties to
              help us collect and analyze information about your use of the
              service, generate aggregate site usage statistics and provide
              content sharing services to support the Service. These third
              parties may also use cookies and similar technologies to collect
              similar non-personal information about your use of the
              Service.  Lawful.ly does not control the third parties' use
              of such technologies and their use is governed by those parties'
              privacy policies. For more information about third-party ad
              networks that use these technologies, and to opt-out of their
              collection of information, see <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>
              and <a href="http://www.aboutads.info/consumers">http://www.aboutads.info/consumers</a>.<br>
              <strong><br>
              </strong><strong>How We Share Your Information</strong><br>
              Personally Identifiable Information: Lawful.ly may share your
              personally identifiable information with third parties for the
              purpose of providing the Service to you or with third parties
              offering combined services with Lawful.ly. For example, we may
              share your personally identifiable information with third-party
              partners that display Lawful.ly questions and answers through
              their services so that such partners can tailor content and
              advertising to you. If we do this, such third parties' use of your
              information will be bound by this Privacy Policy. We may store
              personal information in locations outside the direct control of
              Lawful.ly (for instance, on servers or databases co-located with
              hosting providers).<br>
              <br>
              As we develop our business, we may buy or sell assets or business
              offerings. Customer, email, and visitor information is generally
              one of the transferred business assets in these types of
              transactions. We may also transfer or assign such information in
              the course of corporate divestitures, mergers, or dissolution.<br>
              <br>
              We may share or disclose your information with your consent, such
              as if you choose to sign on to the Service through a third-party
              service. We cannot control third parties' use of your information.<br>
              <br>
              Lawful.ly may disclose your personal information if required to do
              so by law or subpoena or if we believe that it is reasonably
              necessary to comply with a law, regulation or legal request; to
              protect the safety of any person; to address fraud, security or
              technical issues; or to protect Lawful.ly's rights or property.<br>
              <br>
              Non-Personally Identifiable Information: We may aggregate and/or
              anonymize information collected through the Service so that the
              information does not identify you. We may use aggregated,
              anonymized, and other non-personally identifiable information for
              any purpose, including for research and marketing purposes, and
              our use and disclosure of such information is not subject to any
              restrictions under this Privacy Policy.<br>
              <br>
              Lawful.ly may allow third-party ad servers or ad networks to serve
              advertisements on the Service and on third-party services. These
              third-party ad servers or ad networks use technology to send,
              directly to your browser, the advertisements and links that appear
              on Lawful.ly. They automatically receive your IP address when this
              happens. They may also use other technologies (such as cookies,
              JavaScript, or web beacons) to measure the effectiveness of their
              advertisements and to personalize the advertising content.
              Lawful.ly does not provide any personally identifiable information
              to these third-party ad servers or ad networks without your
              consent. However, please note that if an advertiser asks Lawful.ly
              to show an advertisement to a certain audience and you respond to
              that advertisement, the advertiser or ad server may conclude that
              you fit the description of the audience they are trying to reach.
              The Lawful.ly Privacy Policy does not apply to, and we cannot
              control the activities of, third-party advertisers. Please consult
              the respective privacy policies of such advertisers for more
              information.<br>
              <br>
              <strong>How We Protect Your Information</strong><br>
              Lawful.ly uses commercially reasonable physical, managerial, and
              technical safeguards to preserve the integrity and security of
              your personal information. We cannot, however, ensure or warrant
              the security of any information you transmit to Lawful.ly or
              guarantee that your information on the Service may not be
              accessed, disclosed, altered, or destroyed by breach of any of our
              physical, technical, or managerial safeguards.<br>
              <br>
              In the event that personal information is compromised as a result
              of a breach of security, Lawful.ly will promptly notify those
              persons whose personal information has been compromised, in
              accordance with the notification procedures set forth in this
              Privacy Policy, or as otherwise required by applicable law.<br>
              <br>
              Your Choices About Your Information<br>
              You may, of course, decline to submit personally identifiable
              information through the Service, in which case Lawful.ly may not
              be able to provide certain services to you. You may update or
              correct your account information and email preferences at any time
              by logging in to your account.<br>
              <br>
              <strong>Children's Privacy</strong><br>
              Protecting the privacy of young children is especially important.
              Lawful.ly does not knowingly collect or solicit personal
              information from anyone under the age of 13 or knowingly allow
              such persons to register with the Service. If we become aware that
              we have collected personal information from a child under age 13
              without verification of parental consent, we take steps to remove
              that information.<br>
              <br>
              <strong>Links to Other Web Sites</strong><br>
              We are not responsible for the practices employed by websites
              linked to or from the Service, nor the information or content
              contained therein. Please remember that when you use a link to go
              from the Service to another website, our Privacy Policy is no
              longer in effect. Your browsing and interaction on any other
              website, including those that have a link on our website, is
              subject to that website's own rules and policies.<br>
              <br>
              <strong>Your California Privacy Rights</strong><br>
              California law permits users who are California residents to
              request and obtain from us once a year, free of charge, a list of
              the third parties to whom we have disclosed their personally
              identifiable information (if any) for their direct marketing
              purposes in the prior calendar year, as well as the types of
              personally identifiable information disclosed to those parties. If
              you are a California resident and would like to request this
              information, please submit your request in an email to <a href="mailto:admin@lawful.ly">admin@Lawful.ly</a>.<br>
              <br>
              <strong>Changes to Our Privacy Policy</strong><br>
              If we change our privacy policies and procedures, we will post
              those changes on this page to keep you aware of what information
              we collect, how we use it and under what circumstances we may
              disclose it. Changes to this Privacy Policy are effective when
              they are posted on this page.<br>
              <br>
              If you have any questions about our practices or this privacy
              policy, please contact us at <a href="mailto:admin@lawful.ly">admin@Lawful.ly</a>,
              or send mail to:<br>
              <br>
              Lawful.ly, Inc.<br>
              900 West Avenue<br>
              Austin, TX 78701<br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
